<app-cuenta-header titulo="Mis Datos"></app-cuenta-header>

<ion-content>
    <ion-list>
        <ion-item color="light">
            <ion-title>Datos de la Cuenta</ion-title>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>Cuenta</h2>
                <p>GAAR970207HDGRRC09</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>Email</h2>
                <p>ricardogarciarreola@gmail.com</p>
            </ion-label>
        </ion-item>
        <ion-item color="light">
            <ion-title>Datos Personales</ion-title>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>Nombre</h2>
                <p>Ricardo</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>Apellido</h2>
                <p>Garcia</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
