ion-icon {
    margin-right: 1.5rem;
}

.avatar {
    height: 120px;
    width: 120px;
    margin: 5% auto 0 auto;
    border: 7px solid var(--ion-color-medium);
    border-radius: 50%;
    box-shadow: 3px 3px var(--ion-color-light);
}

.avatar img {
    height: 100%;
    border-radius: 50%;
    opacity: 0.4;
}