<app-header titulo="Mi Cuenta"></app-header>

<ion-content>
    <div class="avatar">
        <img src="assets/icon/person.svg" alt="icono">
    </div>
    <ion-item-divider mode="md"></ion-item-divider>
    <ion-list class="ion-margin-right">
        <ion-item (click)="navegar('compras')">
            <ion-icon name="bag-handle"></ion-icon>
            <ion-label class="ion-margin-right">Mis Compras</ion-label>
        </ion-item>
        <ion-item (click)="navegar('mis-datos')">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label class="ion-margin-right">Mis Datos</ion-label>
        </ion-item>
        <ion-item (click)="navegar('direcciones')">
            <ion-icon name="location"></ion-icon>
            <ion-label class="ion-margin-right">Direcciones</ion-label>
        </ion-item>
        <ion-item (click)="navegar('seguridad')">
            <ion-icon name="lock-closed"></ion-icon>
            <ion-label class="ion-margin-right">Seguridad</ion-label>
        </ion-item>
    </ion-list>
</ion-content>