<app-header titulo="Mensajeria"></app-header>

<ion-content>
<ion-grid>
  
  <ion-text color="medium" class="ion-text-center">
  <p>Usuario</p>
  </ion-text>
  <ion-row>

    <ion-col size="9">
      <b>Usuario mensaje</b><br>
      <span>usuario respuesta</span>
      <div class="time" class="ion-text-right"> <br> </div>
    </ion-col>

  </ion-row>

</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center"></ion-row>
    <ion-col size="10">
      <ion-textarea class="message-input" rows="1"></ion-textarea>
      <ion-button expand="block" fill="clear" color="primary">Enviar
        <ion-icon name="send" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
    

  </ion-toolbar>
</ion-footer>
