<app-header titulo="Chat">
  
</app-header>

<ion-content>
  <ion-text color="primary"  class="margin" class="ion-text-center">
    <h1> chat: Gerardo rodriguez</h1>
  </ion-text>
 <ion-list>
   <ion-item (click)="navcuenta()" >
     <ion-button class="item-avatar">
       <ion-avatar slot="start">
         <img src="/assets/perfil.jpg">
       </ion-avatar>
     </ion-button>
     <ion-text color="dark" class="ion-text-center">
      <h2>hola que precio tienen las guitarras</h2>
    </ion-text>
   </ion-item>

   <ion-item class="margin">
    <ion-button class="item-avatar" slot="end">
      <ion-avatar >
        <img src="/assets/ricardo.jpg">
      </ion-avatar>
    </ion-button>
    <ion-text color="dark" class="ion-text-center">
      <h2>Ya no hay compa </h2>
    </ion-text>
  </ion-item>

 </ion-list>
  

  

</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center"></ion-row>
    <ion-col size="10">
      <ion-textarea class="message-input" rows="1"></ion-textarea>
      <ion-button expand="block" fill="clear" color="primary">Enviar
        <ion-icon name="send" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
    

  </ion-toolbar>
</ion-footer>
