.time{
    color: #dfdfdf;
    float: right;
    font-size: small;
}

.message-input{
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
}
.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    }

    .margin{
        margin-top: 50px;
    }