<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Método de entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="direccionesService.direcciones.length === 0" class="sin-direcciones">
    <h4>Aún no has registrado ningúna dirección</h4>
    <p>Registra una dirección para recibir tus productos a casa</p>
  </div>
  <ion-button *ngIf="direccionesService.direcciones.length <= 1" expand="full" fill="clear" (click)="modalDireccion('crear')">Registrar Direccion</ion-button>
  <ion-button *ngIf="direccionesService.direcciones.length > 1" expand="full" fill="clear" (click)="seleccionarDireccion()">Seleccionar una dirección</ion-button>
</ion-content>

<ion-footer>
  <ion-item detail (click)="modalResumen('domicilio')" *ngIf="direccionesService.direcciones.length !== 0">
    <ion-icon name="home" slot="start"></ion-icon>
    <ion-label>
      Entrega a Domicilio
    </ion-label>
  </ion-item>
  <ion-item detail (click)="modalResumen('sucursal')">
    <ion-icon name="storefront" slot="start"></ion-icon>
    <ion-label>
      Retirar en Sucursal
    </ion-label>
  </ion-item>
</ion-footer>