<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="ion-margin-bottom">Para poder continuar por favor ingresa tu email y contraseña</p>
  <form [formGroup]="usuario">
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
  
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasenia"></ion-input>
    </ion-item>
  
    <ion-button [disabled]="usuario.invalid" expand="full" (click)="registrar()">Ingresar</ion-button>
  </form>
</ion-content>