ion-label h4 {
    white-space: pre-wrap;
}
.sin-productos {
    height: 100%;
    text-align: center;
}
.leyenda {
    width: 60%;
    margin: 0 auto;
    margin-top: 30%;
    color: var(--ion-color-medium);
}

.opciones {
    position: absolute;
    top: 5px;
    right: -5px;


}