<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-item *ngFor="let direccion of direccionesService.direcciones">
        <ion-label>
            <h2>Calle: {{direccion.domicilio.calle}} {{direccion.domicilio.numExt}}</h2>
            <p>Entre: {{direccion.domicilio.entreCalle1}} y {{direccion.domicilio.entreCalle1}}, 
              {{direccion.domicilio.colonia}}, {{direccion.domicilio.cp}}</p>
            <p>Contacto: {{direccion.contacto.nombre}} {{direccion.contacto.apellido}} - {{direccion.contacto.telefono}}</p>
        </ion-label>
        <ion-radio slot="end"></ion-radio>
    </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button (click)="crearDireccion()" expand="full" fill="clear">Agregar Otra Direccion</ion-button>
</ion-content>
<ion-footer>
  <ion-button (click)="seleccionarDireccion()" color="primary" expand="full" class="ion-margin">Guardar</ion-button>
</ion-footer>