<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-item>
        <ion-label>
            <h2>Calle: Pereyra 317</h2>
            <p>Entre: Fco. I Madero y Pasteur, Zona Centro, 34000</p>
            <p>Contacto: Ricardo Garcia - 6778790329</p>
        </ion-label>
        <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>
            <h2>Calle: Vicente Guerrero 16</h2>
            <p>Entre: Paloma y Victoria, Emiliano Zapata, 34241</p>
            <p>Contacto: Gerardo Rogriguez - 6182431454</p>
        </ion-label>
        <ion-radio slot="end"></ion-radio>
    </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button expand="full" fill="clear">Agregar Otra Direccion</ion-button>
</ion-content>
<ion-footer>
  <ion-button color="primary" expand="full" class="ion-margin">Guardar</ion-button>
</ion-footer>