<ion-slides>
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-title>Tenis</ion-title>
      </ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="producto">
              <div class="prdoucto-img">
                <img src="assets/img/productos/01.jpeg" alt="vans">
              </div>
              <div class="producto-desc">
                <h4>Tenis Vans</h4>
                <p>Precio: <span>$2500</span></p>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="producto">
              <div class="prdoucto-img">
                <img src="assets/img/productos/01.jpeg" alt="vans">
              </div>
              <div class="producto-desc">
                <h4>Tenis Vans</h4>
                <p>Precio: <span>$2500</span></p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="producto">
              <div class="prdoucto-img">
                <img src="assets/img/productos/01.jpeg" alt="vans">
              </div>
              <div class="producto-desc">
                <h4>Tenis Vans</h4>
                <p>Precio: <span>$2500</span></p>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="producto">
              <div class="prdoucto-img">
                <img src="assets/img/productos/01.jpeg" alt="vans">
              </div>
              <div class="producto-desc">
                <h4>Tenis Vans</h4>
                <p>Precio: <span>$2500</span></p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-slide>

</ion-slides>