<app-cuenta-header titulo="Mis Direcciones"></app-cuenta-header>


<ion-content>
    <div *ngIf="!direccionesService.direcciones.length" class="sin-direcciones">
        <h4>Aún no has registrado ningúna dirección</h4>
        <p>Registra uuna dirección para recibir tus productos a casa</p>
        <ion-button expand="full" fill="clear" (click)="modalDireccion('crear')">Registrar</ion-button>
    </div>

    <div *ngIf="direccionesService.direcciones.length" class="con-direcciones">
        <ion-item *ngFor="let direccion of direccionesService.direcciones; let i = index" (click)="modalDireccion('ver', i)">
            <ion-label>
                <h2>Calle: {{direccion.domicilio.calle}} {{ direccion.domicilio.numExt }}</h2>
                <p>Entre: 
                    {{direccion.domicilio.entreCalle1}} y {{direccion.domicilio.entreCalle1}}, 
                    {{direccion.domicilio.colonia}}, {{direccion.domicilio.cp}}</p>
                <p>Contacto: {{direccion.contacto.nombre}} {{ direccion.contacto.apellido }} - {{direccion.contacto.telefono}}</p>
            </ion-label>
        </ion-item>
        <ion-button expand="full" fill="clear" (click)="modalDireccion('crear')">Agregar Nueva Dirección</ion-button>
    </div>
</ion-content>