.formulario {
    padding: 0 5% 10% 5%;
    height: 95%;
}

.formulario h4 {
    margin-top: 0;
}

.campo {
    margin: 1rem 0;
}

.campo small {
    font-weight: 700;
    color: var(--ion-color-medium);
}

.campo small.campo-invalido {
    color: var(--ion-color-danger);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

small button {
    background-color: transparent;
    position: relative;
    top: 2px;
}